html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.transparent {
  background-color: transparent !important;
}

a.disable{
  pointer-events: none;
  color: gray;
}

#nprogress .spinner-icon {
  border-top-color: rgb(248, 216, 74);
  border-left-color: rgb(248, 216, 74);
}

.flash{
  --animate-duration: 0.15s;
}

@media (max-width: 920px) {
  .sidebar {
    visibility: hidden;
  }

  .btn.invisible{
    visibility: visible !important;
  }

  .show {
    visibility: visible;
  }
}

@media (max-width: 600px) {
  html,
  body {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  html,
  body {
    font-size: 10px;
  }
}

@media (max-width: 270px) {
  html,
  body {
    font-size: 8px;
  }
}
